html{
    background-color:bisque;
}
p{
    text-align:center;
    
}
h1{
    text-align:center;
}
#a{
    height: 50%;
    position: relative;
    top: 10%;
    left:38.5%;
    border-radius: 10px;
}
#b{
    height: 50%;
    position: relative;
    top: 10%;
    right:23%;
    border-radius: 10px;
}
#c{
    height: 50%;
    position: relative;
    top: 10%;
    left:32%;
    border-radius: 10px;
}
